*{
  font-family: 'Poppins', sans-serif;
  color: #666;
  
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

footer i{
  padding: 10px;
  font-size: 15px;
  color: #666;
}

footer i:hover{
  color: #171A20;
  font-size: 20px;
  
}

.text{
  display: flex;
  justify-content: center;
}

center{
  margin-top: 10px;
  margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
width: 340px;
font-size: 13px;

}




.main-image{
  display: flex;
  justify-content: center;
}

.main-image img{
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px slategrey;
  /* margin-top: 10px; */
  /* margin-bottom: 5px; */
}

nav{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  
}

nav a{
  margin-top: 10px;
  text-decoration: none;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
}

nav a:hover{
  color: seashell;
  background-color: #666;
  
}


/* FOR ENGLISH PROGRESS */
#myprogress{
width: 100%;
background-color: #DDDDDD;
border-radius: 5px;
/* border: solid 1px #666; */
}

.progress-bar-width{
  width: 310px;
 margin-left: auto;
 margin-right: auto;
}
#mybar{
  width: 1%;
  height: 20px;
  background-color: #04AA6D;
  border-radius: 5px;

}

#mybar span{
  color: white;
  font-size: 13px;
  margin-left: 3px;
}


/* PROGRESS FOR CODING */
#myprogress1{
  width: 100%;
  background-color: #DDDDDD;
  border-radius: 5px;
}

#mybar1{
  width: 4%;
  height: 20px;
  border-radius: 5px;
  background-color:#04AA6D ;
  
}

#mybar1 span{
  color: white;
  font-size: 13px;
  margin-left: 15px;
}

/* PROGRESS FOR INVESTING */

#myprogress2{
  width: 100%;
  background-color:#DDDDDD ;
  border-radius: 5px;
}

#mybar2{
  width: 0%;
  height: 20px;
  border-radius: 5px;
  background-color:#04AA6D  ;
}

#mybar2 span{
  font-size: 13px;
  color: white;
  margin-left: 3px;
}

.fit{
  max-width: 99%;
}


