*{
  font-family: 'Poppins', sans-serif;
  color: #666;
  background-color: #EEF2F4;
  line-height: 1.6;
}

p, h1, h2, h3, h4, h5, h6, ul, li, a{background-color: #fff;}

h3{
  border-top: 20px solid #666;
  padding-top: 10px;
}

mark{
  background-color: greenyellow;
}

body{
  margin-left: auto;
  margin-right: auto;
  
  width: 340px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  position: relative;
  font-size: 13px;

  
}

header{
  background-color: #666;
  padding: 10px;
}

header a{
  margin: 0; padding: 0;
 color: #fff;
 background-color: #666;
  /* padding: 10px; */
  text-decoration: none;
  
}

header a:hover{
  color: #D3D3D3;

}

header a{
  animation: 2s myanime;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes myanime {
  from {top: -30px;}
  to {top: 0;}
}

nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: #fff;
}

nav a{
  margin-top: 10px;
  text-decoration: none;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
  background-color: #fff;
}

nav a:hover{
  color: seashell;
  background-color: #666;
 
}

nav a{
  animation: navanime 2s;
  position: relative;
}

@keyframes navanime {
  from {right: -30px;}
  to {right: 0px;}
}

section{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #fff;
  
  
  
}

p, ul{
  margin-left: 10px;
  margin-right: 10px;
}


i{
  background-color: #fff;
}

 progress{
  background-color: #fff;
  margin-bottom: 20px;
}











footer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: #666;
  padding: 20px;
}

footer i{
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #666;
}

footer i:hover{
  color: #D3D3D3;
  
}


/* RESPONSIVE */
@media screen and (min-width: 400px){
  body{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
    position: relative;
    font-size: 18px;
  }

  header h6{
    padding: 15px;
    font-size: larger;
  }

 

  section img{
    width: 540px;
    height: 380px;
  }

  #player-youtube {
    width: 540px;
    height: 380px;
   
  }

  #player{
    width: 440px;
  }

  video {
    width:540px ;
  }

  iframe {
    width: 540px;
    height: 380px;
  }

  



}









.main-image{
  display: flex;
  justify-content: center;

}

.main-image img{
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px slategrey;
  margin-top: 10px;
  margin-bottom: 5px;
}






code{
  background-color: #eee;
}



.progress{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.progress label{
  padding-right: 5px;
  font-size: smaller;

}

b{
  background-color: red;
  color: white;
  font-weight: lighter;
}

::selection {
  background: yellow;
  color: red;
}







