.button {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 15px;
}

.pilotaskar {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 15px;  
}

.pilotaskar:hover {
    color: black;
}
.picture img {
    margin-top: 0;
    padding-bottom: 0;
}

.button {
    transition: box-shadow, backround 2s .5s ease-in-out;
    
}


.button:hover {
 /* text-shadow: cornsilk; */
 /* border-radius: 10px; */
 background-color: gray;
 border-radius: 15px;
 color: black;
 /* opacity: 0.5; */
 /* color: black; */
}

.button-oval {
    border: solid 2px white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 3px;
    font-family: 'Hind Siliguri', sans-serif;
     margin-top: 50%; 
     margin-left: 45%;   
    position: absolute;
    font-weight: bolder;
   
}

.problem {
    margin-bottom: 50px;
    border: solid 2px white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 3px;
    font-family: 'Hind Siliguri', sans-serif;
     margin-top: 40%; 
     margin-left: 45%;   
    position: absolute;
    font-weight: bolder;
   
}

.button-about {
    /* border: solid 2px white; */
    /* border-radius: 10px; */
    text-decoration: none;
    color: white;
    /* padding: 3px; */
    font-family: 'Hind Siliguri', sans-serif;
     margin-top: 10%; 
     margin-left: 30%;   
    position: absolute;
    font-weight: bolder;
    font-size: 70px;
   
}


.button-about:hover {
    color: black;
}

.button-oval:hover {
    color: black;
    background-color: white;
}

.back-img {
    position: absolute;
    z-index: -1;
}